cloudpickle==3.1.1
imbalanced-learn==0.13.0
importlib_metadata==8.6.1
ipykernel==6.29.5
ipython==9.0.2
ipython_pygments_lexers==1.1.1
Markdown==3.4.4
nltk==3.9.1
python-dateutil==2.9.0.post0
python-json-logger==3.3.0
regex==2024.11.6
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
streamlit==1.45.0
pandas==2.2.3
numpy==2.2.5
matplotlib==3.10.1
altair==5.5.0
pywin32==309
